.background-div{
    background: linear-gradient(to bottom, #8888d8, #86a8e7, #a2ebe6);
}

.main-container {
    background: linear-gradient(to bottom, #8888d8, #86a8e7, #a2ebe6);
    @apply h-screen flex flex-row justify-center items-center;
}

input {
    border: 1px solid;
}

.form-container {
    height: fit-content;
    @apply w-11/12 sm:w-2/3 md:w-2/4 lg:w-1/3 2xl:w-3/12 p-10 text-center;
}

.form { 
    @apply mt-9;
}

.form .icon-span {
    font-size: 17px;
    position: absolute;
    @apply text-gray-500;
}

.form-div {
    position: relative;
}

.form-control {
    border-color: rgb(197, 195, 195);
    @apply transition pl-8 duration-300 text-gray-600 focus:placeholder-indigo-400 hover:shadow-lg focus:shadow-lg hover:border-indigo-400 w-full rounded-full py-2 text-sm placeholder-gray-500;
}

.form-control:active, .form-control:focus {
    outline: none;
}

.icon-cancel {
    @apply absolute text-red-400;
}

.form-middle {
    @apply w-full;
}

.fix-control {
    padding-left: 36px;
}

.btn-register {
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(to right, #f2709c, #ff9472);
    @apply transition transform hover:-translate-y-1 duration-500 mt-7 focus:outline-none w-full text-white rounded-full hover:shadow-xl shadow-lg hover:border-gray-600 border-2;
}

.btn-login {
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(to right, #3597b3, #71b280);
    @apply transition transform hover:-translate-y-1 duration-500 mt-6 focus:outline-none w-full text-white rounded-full hover:shadow-xl shadow-lg hover:border-gray-600 border-2;
}

hr {
    border-color: rgb(190, 189, 189);
}


.tooltip .tooltiptext {
    letter-spacing: 0.01rem;
    font-size: 12px;
    visibility: hidden;
    width: 200px;
    background-color: rgb(94, 94, 94, 0.85);
    color: rgb(231, 230, 230);
    text-align: center;
    padding: 5px 0;
    padding-bottom: 7px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    bottom: 68%;
    left: 25%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-full {
    bottom: 125%!important;
    left: 40%!important;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(95, 95, 95, 0.85) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.lastname-control::placeholder {
    padding-left: 2px;
}

.checkbox {
    font-size: 14px;
    @apply text-gray-500;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.checkbox span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}
  
.checkbox span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 13px;
    stroke-dashoffset: 13px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
  
.checkbox span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.checkbox span:last-child {
    margin-left: 4px;
}
  
.checkbox:hover span:first-child {
    border-color: #3c53c7;
}
  
.input-cbox:checked + .checkbox span:first-child {
    border-color: #5369d3;
    background: #5369d3;
    animation: check 0.6s ease;
}
  
.input-cbox:checked + .checkbox span:first-child svg {
    stroke-dashoffset: 0;
}

.input-cbox:checked + .checkbox span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.input-cbox:checked + .checkbox span:last-child {
    transition: all 0.3s ease;
}

.input-cbox:checked + .checkbox span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}
  
@keyframes check {
50% {
    transform: scale(1.2);
}
}

.modal-cbox {
    display: none;
}
  
.modal-cbox:checked~div {
    visibility: visible;
    opacity: 1;
}
  
.modal-label {
    text-decoration: underline;
    cursor: pointer;
}
  
.modal-div {
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
  
.modal-content {
    @apply shadow-2xl;
    width: 470px;
    background: white;
    position: absolute;
    top: 27%;
    margin-left:50%;
    left: -235px;
    border-radius: 10px;
}
  
.modal-close {
    font-size: 19px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 3px;
    position: absolute;
    right: 27px;
    top: 25px;
    @apply text-white hover:text-gray-700;
}

.modal-3 .modal-close {
    @apply text-gray-600 hover:text-red-500;
}
  
.top {
    border-radius: 9px 9px 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80px;
    @apply p-7 pt-8 -mt-0.5;
}

.modal-2 {
    background-image: url("../../../assets/images/bgPattern4.png");
}

.top-modal-3 {
    background-image: none;
}
  
.top h1 {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
}
  
.top h2 {
    letter-spacing: 0.3px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 400;
    margin-top: -2px;
}

.confirm-credentials-form input {
    font-family: 'Poppins', sans-serif;
    font-size: 12.4px;
    border: none;
    outline: none;
    color: gray;
}

.btn-confirm {
    width: 8.5rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    font-family: 'Poppins', sans-serif;
    font-size: 12.4px;
}

.icon-fix {
    top: 33px;
}