<div class="modal">
    <label class="modal-label hidden"></label>
    <input [checked]="showCredentialsModal" class="modal-cbox hidden" type="checkbox">
    <div class="modal-div">
      <div class="modal-content pb-2">
  
        <div class="top">
        </div>
  
        <label (click)="showCredentialsModal = !showCredentialsModal; confirmCredentialsForm.reset()" class="modal-close">
          <ion-icon name="close"></ion-icon>
        </label>
        <input class="modal-cbox " type="checkbox">
  
        <div class="middle-modal -mt-20 px-5 pt-6">
          
            <div class="h-36 bg-blue-500 flex justify-center items-center rounded-t-lg">
                <div class="h-20 w-20 mt-8 bg-white rounded-full flex justify-center items-center">
                    <i class="material-icons text-5xl text-blue-500">lock</i>
                </div>
            </div>

            <svg viewBox="0 0 1440 320" class="fill-current text-blue-500">
                <path fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,154.7C640,160,800,128,960,112C1120,96,1280,96,1360,96L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
            </svg>
                <div class="py-8 px-4 -mt-12">
                    <p class="font-medium text-center text-2xl text-gray-700">Debes ser administrador</p>
                    <p class="text-gray-600 text-center mt-0">
                      Ingresa tus credenciales
                    </p>

                    <form [formGroup]="confirmCredentialsForm" (ngSubmit)="confirmCredentials()" class="confirm-credentials-form flex justify-center flex-col">
                        
                        <div class="mt-5 grid justify-center grid-cols-6 gap-y-6 gap-x-4">
                            <div class="col-span-3 relative tooltip">
                                <label class="block text-xs font-medium text-gray-700">Correo</label>
                                <ion-icon name="mail" class="absolute top-8 left-2.5 text-gray-600"></ion-icon>
                                <input type="text" class="mt-1.5 py-2.5 pr-3 pl-8 block w-full rounded-md bg-gray-100" formControlName="email">
                                <ion-icon *ngIf="getConfirmFormValidationError('email')" name="close-outline" class="icon-fix absolute icon-fix right-4 text-red-400"></ion-icon>
                                <span *ngIf="getConfirmFormValidationError('email')" class="tooltiptext fix">{{ getConfirmFormValidationError('email') }}</span>
                            </div>

                            <div class="col-span-3 relative tooltip">
                                <label class="block text-xs font-medium text-gray-700">Contraseña</label>
                                <ion-icon name="lock-closed" class="absolute top-8 left-2.5 text-gray-600"></ion-icon>
                                <input type="password" class="mt-1.5 py-2.5 pr-3 pl-8 block w-full rounded-md bg-gray-100" formControlName="pass">
                                <ion-icon *ngIf="getConfirmFormValidationError('pass')" name="close-outline" class="absolute icon-fix right-4 text-red-400"></ion-icon>
                                <span *ngIf="getConfirmFormValidationError('pass')" class="tooltiptext fix">{{ getConfirmFormValidationError('pass') }}</span>
                            </div>
                        </div>

                        <button type="submit" class="btn-confirm tracking-wider font-light bg-blue-500 w-40 mx-auto shadow-lg mt-6 hover:bg-blue-600 text-white rounded-full py-1.5 border-2 border-blue-300">Crear Usuario</button>

                    </form>


                </div>



        </div>
  
      </div>
    </div>
</div>

<div class="background-div">

    <div class="main-container animate__animated animate__fadeInRight">

        <div class="form-container absolute bg-white transform sm:rotate-8 rotate-6 bg-opacity-25">
        </div>
    
        <div class="form-container bg-white rounded-3xl shadow-2xl z-10">
            <h1 class="text-gray-700 text-3xl font-semibold">Hotel Control</h1>
            <h1 class="text-gray-700 text-xl mt-0">Crear Cuenta</h1>
    
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
    
                <div class="form-div tooltip">
                    <input [class.invalid]="getValidationError('username')" class="form-control" type="text" placeholder="Usuario" formControlName="username">
                    <span class="icon-span left-3 top-2"><ion-icon name="person"></ion-icon></span>
                    <ion-icon *ngIf="getValidationError('username')" name="close-outline" class="absolute top-3 right-4 text-red-400"></ion-icon>
                    <span *ngIf="getValidationError('username')" class="tooltiptext tooltip-full">{{ getValidationError('username') }}</span>
                </div>
    
                <div class="form-div w-1/2 inline-flex justify-between tooltip">
                    <input class="form-control fix-control form-middle mt-5 mr-1" type="text" placeholder="Nombre" formControlName="firstname">
                    <span class="icon-span left-3 top-7"><ion-icon name="card"></ion-icon></span>
                    <ion-icon *ngIf="getValidationError('firstname')" name="close-outline" class="absolute top-8 right-5 text-red-400"></ion-icon>
                    <span *ngIf="getValidationError('firstname')" class="tooltiptext">{{ getValidationError('firstname') }}</span>
                </div>
    
                <div class="form-div w-1/2 inline-flex justify-between tooltip">
                    <input class="form-control lastname-control form-middle mt-5 ml-1" type="text" placeholder="Apellido" formControlName="lastname">
                    <span class="icon-span left-3.5 top-7"><ion-icon name="card"></ion-icon></span>
                    <ion-icon *ngIf="getValidationError('lastname')" name="close-outline" class="absolute top-8 right-5 text-red-400"></ion-icon>
                    <span *ngIf="getValidationError('lastname')" class="tooltiptext">{{ getValidationError('lastname') }}</span>
                </div>
    
                <div class="form-div mt-5 tooltip">
                    <input class="form-control" type="text" placeholder="Correo Electrónico" formControlName="email">
                    <span class="icon-span left-3 top-2"><ion-icon name="mail"></ion-icon></span>
                    <ion-icon *ngIf="getValidationError('email')" name="close-outline" class="absolute top-3 right-4 text-red-400"></ion-icon>
                    <span *ngIf="getValidationError('email')" class="tooltiptext tooltip-full">{{ getValidationError('email') }}</span>
                </div>
    
                <div class="form-div w-1/2 inline-flex justify-between tooltip">
                    <input class="form-control form-middle mt-5 mr-1" type="password" placeholder="Contraseña" formControlName="password">
                    <span class="icon-span left-3 top-7"><ion-icon name="lock-closed"></ion-icon></span>
                    <ion-icon *ngIf="getValidationError('password')" name="close-outline" class="absolute top-8 right-4 text-red-400"></ion-icon>
                    <span class="text-red-400 p-0 m-0 text-xs absolute left-1 top-14 pt-0.5">{{ getValidationError('password') }}</span>
                    <span class="tooltiptext">1 dígito y una letra mayúscula</span>
                </div>
    
                <div class="form-div w-1/2 inline-flex justify-between tooltip">
                    <input class="form-control form-middle mt-5 ml-1" type="password" autocomplete="on" placeholder="Repetir" formControlName="password2">
                    <span class="icon-span left-4 top-7"><ion-icon name="lock-closed"></ion-icon></span>
                    <ion-icon *ngIf="getValidationError('password2')" name="close-outline" class="absolute top-8 right-4 text-red-400"></ion-icon>
                    <span *ngIf="getValidationError('password2')" class="tooltiptext">{{ getValidationError('password2') }}</span>
                </div>

                <div class="flex justify-end mt-1.5 mr-1">
                    <input class="input-cbox hidden" id="cbox" type="checkbox" formControlName="hotelAdmin"/>
                    <label class="checkbox" for="cbox">
                        <span>
                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                            <polyline points="1 5 4 8 11 1"></polyline>
                        </svg>
                        </span>
        
                        <span>Administrador De Hotel</span>
                    </label>
                </div>
    
                <button type="submit" class="btn-register">Registrarse</button>
    
                <div class="flex justify-between items-center mt-6">
                    <hr class="ml-1 w-full">
                    <span class="text-gray-500 text-sm w-full">¿Ya tienes cuenta?</span>
                    <hr class="mr-1 w-full">
                </div>
    
                <button type="button" [routerLink]="['/login']" class="btn-login">Iniciar Sesión</button>
    
            </form>
        </div>
    </div>

</div>