<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

          <button (click)="menuOpen = !menuOpen" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
            <svg [ngClass]="{hidden: menuOpen, block: !menuOpen}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>

            <svg [ngClass]="{block: menuOpen, hidden: !menuOpen}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <img class="block lg:block h-10 pb-1 w-auto" src="../../../assets/images/logo.svg">
            <img class="block lg:block h-11 py-1.5 pl-1 pr-0 mr-0 w-auto" src="../../../assets/images/logoLetter.svg">
          </div>
          <div class="hidden sm:block sm:ml-6 pt-0.5">
            <div class="flex space-x-1.5 tracking-wide menu-lg">
              <a [routerLink]="['/home']" routerLinkActive="active" class="text-gray-300 -ml-3 hover:text-white px-5 h-8 rounded-full">Inicio</a>
              <a [routerLink]="['/activities']" routerLinkActive="active" class="text-gray-300 hover:text-white px-5 h-8 rounded-full">Actividades</a>
            </div>
          </div>
        </div>

        <div class="absolute inset-y-0 right-0 flex -mt-1 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          
            <div class="relative search-bar hidden md:block">
                <div class="absolute right-4 div-icon">
                <i class="icon-search-2 text-gray-500 z-20 text-lg hover:text-gray-600"></i>
                </div>

                <button (click)="changeButton(value.value)" class="absolute top-1 left-2 search-button rounded-full bg-green-400 hover:bg-green-500">Buscar</button>
                <input #value ngModel (ngModelChange)="change(value.value)" [ngClass]="{searchOpen: searchOpen, searchClose: !searchOpen}"  type="text" class="h-9 w-36 pb-0.5 rounded-full text-sm text-gray-600 z-0 focus:shadow focus:outline-none">
            </div>
          
        </div>
      </div>
    </div>
  
    <div [ngClass]="{block: menuOpen, hidden: !menuOpen}" class="z-50 absolute w-full bg-gray-800 sm:hidden" id="mobile-menu">
      <div class="px-4 pt-2 pb-8 animate__animated animate__fadeInLeft animate__faster">
        <a [routerLink]="['/home']" routerLinkActive="active" class="text-white hover:bg-gray-700 block px-5 py-2 rounded-full text-sm mb-1">Inicio</a>
        <a [routerLink]="['/activities']" routerLinkActive="active" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-5 py-2 rounded-full text-sm">Actividades</a>
        <div class="relative search-bar mt-4 mx-1">
            <div class="absolute left-3 div-icon">
            <i class="icon-search-2 text-gray-500 z-20 text-lg hover:text-gray-600"></i>
            </div>

            <input type="text" class="h-9 w-full pl-10 rounded-full text-sm text-gray-600 z-0 focus:shadow focus:outline-none">
            
            <div class="absolute right-2 search-button-mobile">
                <button class="rounded-full bg-green-400 hover:bg-green-500">Buscar</button>
            </div>
        </div>
    </div>
    </div>
  </nav>