<ng-sidebar-container>
 
    <ng-sidebar opened="true" autoCollapseOnInit="true" position="left">
      <div class="text-center profile-div text-white w-full pt-16">

        <div class="bg-white rounded-full w-20 h-20 mx-auto">
          <img class="mx-auto pt-3" src="../../../assets/images/male.svg" width="55px">
        </div>
        <h1 class="mt-2">Angel Herrarte <i class="icon-angle-down"></i></h1>
        <h3>angelherrarte3@gmail.com</h3>
        <button class="btn-logout">Cerrar Sesión</button>
        
      </div>

      <hr class="w-10/12 text-center mx-auto mt-5 text-gray-100 border-gray-500">

      <div class="menu-div flex flex-col justify-start mt-10 space-y-3">
        <button><i class="icon-commerical-building"></i>Hoteles</button>
        <button><i class="icon-home"></i> Habitaciones</button>
        <button><i class="icon-calendar"></i> Reservaciones</button>
        <button><i class="icon-dollar"></i> Facturas</button>
      </div>
    </ng-sidebar>

    <div ng-sidebar-content class="bg-green-500">
      <h1>dasdassd</h1>
    </div>

</ng-sidebar-container>