<app-navbar></app-navbar>

<ng-sidebar-container>

  <ng-sidebar opened="true" autoCollapseOnInit="true" position="left">
    <div class="text-center bg-gray-900 profile-div text-white mx-auto pt-w pb-6">

      <div class="mx-auto">
        <img class="mx-auto pt-5" src="../../../assets/images/avatar2.png" width="65px" height="65px">
      </div>
      <h1 class="mt-1 cursor-pointer">{{ ( user$ | async )?.firstname }} {{ ( user$ | async )?.lastname }}<i class="icon-angle-down"></i></h1>
      <h3>{{ ( user$ | async )?.email }}</h3>
      <button class="btn-logout focus:outline-none" (click)="logOut()">Cerrar Sesión</button>

    </div>

    <div class="menu-div flex flex-col justify-start mt-7 space-y-3 px-6 animate__animated animate__fadeInLeft">
      <a class="btn-hotel" [routerLink]="['hotels']" routerLinkActive="btn-hotel-active">
        <ion-icon class="bg-icon" name="business"></ion-icon>Hoteles<ion-icon class="right-icon"
          name="chevron-forward-outline"></ion-icon>
      </a>

      <a class="btn-room" [routerLink]="['rooms']" routerLinkActive="btn-room-active">
        <ion-icon class="bg-icon" name="bed"></ion-icon>Habitaciones<ion-icon class="right-icon"
          name="chevron-forward-outline"></ion-icon>
      </a>

      <a class="btn-reservation" [routerLink]="['reservations']" routerLinkActive="btn-reservation-active">
        <ion-icon class="bg-icon" name="calendar-number"></ion-icon>Reservaciones<ion-icon class="right-icon"
          name="chevron-forward-outline"></ion-icon>
      </a>

      <a class="btn-bill" [routerLink]="['/bills']" routerLinkActive="btn-bill-active">
        <ion-icon class="bg-icon" name="cash"></ion-icon>Facturas<ion-icon class="right-icon"
          name="chevron-forward-outline"></ion-icon>
      </a>
    </div>

    <div class="bottom-div w-full h-16 bg-gray-900 absolute bottom-16 py-3.5">
      <h1 class="text-gray-50 text-left px-9 text-sm tracking-wider pb-0">{{ ( user$ | async  )?.username}}</h1>      
      <ng-container [ngSwitch]="( user$ | async )?.role">
        <h2 *ngSwitchCase="'client'" class="text-gray-400 text-left px-9 tracking-wide pt-0">Cliente</h2>

        <h2 *ngSwitchCase="'hotel_admin'" class="text-gray-400 text-left px-9 tracking-wide pt-0">Administrador De Hotel</h2>

        <h2 *ngSwitchCase="'app_admin'" class="text-gray-400 text-left px-9 tracking-wide pt-0">Administrador De App</h2>
      </ng-container>

      <ion-icon (click)="checked = !checked" class="cursor-pointer absolute right-10" name="settings-outline">
      </ion-icon>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>

    <div class="modal">
      <label class="modal-label hidden" for="modal-cbox">here</label>
      <input [checked]="checked" class="modal-cbox hidden" id="modal-cbox" type="checkbox">
      <div class="modal-div">
        <div class="modal-content pb-6">

          <div class="top">
            <h1>Editar Perfil</h1>
            <h2>Aqui puede editar algunos datos de su perfil</h2>
          </div>

          <label (click)="checked = !checked; " (click)="closeEditModal()" class="modal-close" for="modal-cbox">
            <ion-icon name="close"></ion-icon>
          </label>
          <input class="modal-cbox " id="modal-cbox" type="checkbox">

          <div class="middle px-5 pt-6">
            <div class="grid grid-cols-2 gap-6">
              <div class="col-span-2">

                <form class="form" [formGroup]="editForm" (ngSubmit)="editProfile()">
                  <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white">
                      <div class="grid grid-cols-6 gap-y-6 gap-x-2">

                        <div class="col-span-6 sm:col-span-3 relative tooltip">
                          <label class="block text-xs font-medium text-gray-700">Nombre</label>
                          <ion-icon name="card-outline" class="absolute top-8 left-2.5 text-gray-600"></ion-icon>
                          <input type="text" class="mt-1.5 py-2 pr-3 pl-8 block w-full rounded-md bg-gray-100" formControlName="firstname">
                          <ion-icon *ngIf="getValidationError('firstname')" name="close-outline" class="absolute icon-fix right-4 text-red-400"></ion-icon>
                          <span *ngIf="getValidationError('firstname')" class="tooltiptext fix">{{ getValidationError('firstname') }}</span>
                        </div>

                        <div class="col-span-6 sm:col-span-3 relative tooltip">
                          <label class="block text-xs font-medium text-gray-700">Apellido</label>
                          <ion-icon name="card-outline" class="absolute top-8 left-2.5 text-gray-600"></ion-icon>
                          <input type="text" class="mt-1.5 py-2 pr-3 pl-8 block w-full rounded-md bg-gray-100" formControlName="lastname">
                          <ion-icon *ngIf="getValidationError('lastname')" name="close-outline" class="absolute icon-fix right-4 text-red-400"></ion-icon>
                          <span *ngIf="getValidationError('lastname')" class="tooltiptext fix">{{ getValidationError('lastname') }}</span>
                        </div>

                        <div class="col-span-6 relative tooltip">
                          <label class="block text-xs font-medium text-gray-700">Correo</label>
                          <ion-icon name="at-outline" class="absolute top-8 left-2.5 text-gray-600"></ion-icon>
                          <input type="text" class="mt-1.5 py-2 pr-3 pl-8 block w-full rounded-md bg-gray-100" formControlName="email">
                          <ion-icon *ngIf="getValidationError('email')" name="close-outline" class="absolute icon-fix right-4 text-red-400"></ion-icon>
                          <span *ngIf="getValidationError('email')" class="tooltiptext email-fix">{{ getValidationError('email') }}</span>
                        </div>

                        <div class="col-span-6 relative tooltip">
                          <label class="block text-xs font-medium text-gray-700">Usuario</label>
                          <ion-icon name="person" class="absolute top-8 left-2.5 text-sm text-gray-600"></ion-icon>
                          <input type="text" class="mt-1.5 py-2 pr-3 pl-8 block w-full rounded-md bg-gray-100" formControlName="username">
                          <ion-icon *ngIf="getValidationError('username')" name="close-outline" class="absolute icon-fix right-4 text-red-400"></ion-icon>
                          <span *ngIf="getValidationError('email')" class="tooltiptext email-fix">{{ getValidationError('username') }}</span>
                        </div>

                      </div>
                    </div>
                    <div class="flex px-3.5 py-2.5 justify-center gap-x-2.5 bg-gray-50 text-right sm:px-6">
                      <button [disabled]="!activateEdit" type="submit" class="w-20 h-15 inline-flex justify-center py-1.5 px-2 border border-transparent shadow-lg text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        <svg [class.hidden]="!showIcon" class="animate-spin absolute h-5 w-5 text-white" fill="none" viewBox="0 0 24 24">
                          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <span [class.invisible]="showIcon" class="tracking-wide">Guardar</span>
                      </button>

                      <button *ngIf="user?.role === 'client'" (click)="confirmDelete = true" type="button" class="w-20 h-15 inline-flex justify-center py-1.5 px-2 border border-transparent shadow-lg text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Eliminar
                      </button>
                      
                      <button (click)="checked = !checked" (click)="closeEditModal()"
                        class="inline-flex h-15 w-20 justify-center py-1.5 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                        Cerrar
                      </button>
                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="modal modal-2">
      <label class="modal-label hidden" for="modal-cbox">here</label>
      <input [checked]="confirmDelete" class="modal-cbox hidden" id="modal-cbox" type="checkbox">
      <div class="modal-div">
        <div class="modal-content">

          <div class="top">
          </div>

          <label (click)="confirmDelete = !confirmDelete" class="modal-close" for="modal-cbox">
            <ion-icon name="close"></ion-icon>
          </label>
          <input class="modal-cbox " id="modal-cbox" type="checkbox">

          <div class="middle pt-6 -mb-10">
            
              <div class="bg-white rounded-xl modal-container shadow-xl">
                <div class="blue-container bg-blue-500 flex justify-center items-center rounded-t-lg">
                  <div class="h-24 w-24 mt-10 bg-white rounded-full flex justify-center items-center">
                    <i class="material-icons text-blue-500 text-4xl">
                      delete
                    </i>
                  </div>
                </div>

                <svg viewBox="0 0 1440 320" class="fill-current">
                  <path fill="#3B82F6" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,154.7C640,160,800,128,960,112C1120,96,1280,96,1360,96L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
                </svg>

                <div class="p-8 -mt-12">
                  <p class="font-bold text-center text-3xl text-gray-700">¿Estás Seguro?</p>
                  <p class="text-gray-600 text-center mt-2">
                    No podrás recuperar tu cuenta
                  </p>
                  <div class="flex justify-center mt-6 gap-x-4">
                    <button (click)="deleteAccount()" class="w-20 h-15 inline-flex justify-center py-1.5 px-2 border border-transparent shadow-lg text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                      Aceptar
                    </button>

                    <button (click)="confirmDelete = false" class="w-20 h-15 inline-flex justify-center py-1.5 px-2 border border-transparent shadow-lg text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>


          </div>

        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>

</ng-sidebar-container>