.profile-div h1  {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: rgb(147, 172, 241);
}

.profile-div h3  {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 300;
    margin-top: 3px;
    @apply tracking-widest;
    color: rgb(232, 237, 248);
}

.menu-div button {
    color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    @apply text-left px-12 py-2.5 tracking-wide;
}

.menu-div button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.menu-div i {
    font-size: 17px;
    @apply mr-1.5;
}

button:focus, button:active {
    outline:none;
}

.btn-logout {
    background-color: #f14040;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 11.6px;
    @apply mt-4 py-2 px-4 rounded-full tracking-wider shadow-2xl;
}