.profile-div h1  {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    color: rgb(240, 240, 240);
}

.profile-div h3  {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 300;
    margin-top: 4px;
    letter-spacing: 1px;
    color: rgb(238, 238, 238);
    background-color: rgb(23, 31, 49);
    margin-left: 23px;
    margin-right: 23px;
    @apply rounded-full py-1;
}

.menu-div button {
    color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    @apply text-left pl-5 pr-4 rounded-lg pt-1.5 pb-3 tracking-wide;
}

.menu-div button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.bg-icon {
    font-size: 18px;
    margin-bottom: -10px;
    @apply mr-1.5 bg-gray-900 p-1.5 rounded-md;
}

button:focus, button:active {
    outline:none;
}

ion-icon {
    transition: color 0.15s ease-in-out;
}

.btn-logout {
    background-color: #f14040;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    border: solid 2.4px #0b0e27;
    box-shadow: 0px 4px 15px 2px #0e0f18;
    @apply mt-3.5 py-1 px-2.5 rounded-full tracking-wider;
}

.btn-hotel:hover ion-icon {
    color: #575fcf;
}

.btn-room:hover ion-icon {
    color: #0be881;
}

.btn-reservation:hover ion-icon {
    color: #fdb735;
}

.btn-bill:hover ion-icon {
    color: #ef5777;
}

.right-icon {
    @apply -mb-0.5 float-right mt-2.5;
}

.bottom-div h1, .bottom-div h2 {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.bottom-div h2 {
    font-size: 12px;
}

.bottom-div ion-icon {
    font-size: 20px;
    bottom: 17px;
    padding: 5px;
    @apply bg-gray-800 rounded-md text-gray-200;
}