.main-container {
    background-image: url('../../../assets/images/reservationBg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.rooms-container {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 1500px) {
    .opacity-container {
      width: 1000px;
    }
}

.dashboard-card {
  background: linear-gradient(to right, #cb3567, #ec6151);
}

.chart-icon {
  color: #fca23b;
}

.reservation-desc {
  font-size: 15px;
}

.btn-status {
  box-shadow: 0px 7px 10px -1px #c0c0c0;
  @apply py-2 w-24 float-right text-xs transform transition duration-300 hover:scale-105 text-white rounded-full;
}

.detail-title {
  @apply text-gray-600;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.overlay-container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  @apply rounded-t-2xl;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  height: 100%;
}

.overlay-container:hover .image {
  opacity: 0.8;
}

.overlay-container:hover .middle {
  opacity: 1;
}

.btn-detail {
  width: 150px;
  cursor: pointer;
  position: absolute;
  bottom: 59%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  padding: 5px 28px;
  @apply tracking-wider hover:bg-white hover:text-black;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease-in;
}

.btn-fix {
  bottom: 37%
}

.btn-detail:hover {
  font-weight: 600;
}

.modal-cbox {
  display: none;
}

.modal-cbox:checked~div {
  visibility: visible;
  opacity: 1;
}

.modal-label {
  text-decoration: underline;
  cursor: pointer;
}

.modal-div {
  z-index: 9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.modal-content {
  @apply shadow-2xl;
  width: 400px;
  background: white;
  position: absolute;
  margin-left: 50%;
  top: 30%;
  left: -80px;
  border-radius: 10px;
}

.modal-content-2 {
  @apply shadow-2xl;
  width: 480px;
  background: white;
  position: absolute;
  top: calc(50% + 34px);
  transform: translatey(-50%);
  left: calc(50% - 110px);
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .modal-content {
    margin-left: 50%;
    left: -200px;
  }

  .modal-content-2 {
    margin-left: 43%;
    left: -200px;
  }
}

.modal-close {
  font-size: 19px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 3px;
  position: absolute;
  right: 15px;
  top: 10px;
  @apply hover:text-white text-gray-600;
}

.modal-close-fix {
  @apply hover:text-red-500;
}

.modal-3 .modal-close {
  @apply text-white hover:text-gray-700;
}

.top {
  border-radius: 9px 9px 0 0;
  background-image: url("../../../assets/images/bgPattern3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 80px;
  @apply p-7 pt-8 -mt-0.5;
}

.modal-2 {
  background-image: url("../../../assets/images/bgPattern4.png");
}

.top-modal-3 {
  background-image: none;
}

.top h1 {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.top h2 {
  letter-spacing: 0.3px;
  color: whitesmoke;
  font-size: 12px;
  font-weight: 400;
  margin-top: -2px;
}

.btn-overlay {
  transition: box-shadow 0.4s ease;
  @apply w-20 py-2 mx-1 font-semibold rounded-lg -mt-2 tracking-wide;
}

.btn-hover:hover {
  @apply ring ring-blue-200;
}

.price-span {
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

.input-fix {
  top: -1.3px;
}

.range-input {
  @apply focus:outline-none text-center w-full bg-gray-200 font-semibold hover:text-black focus:text-black flex items-center text-gray-700  outline-none;
}

.text-name {
  @apply tracking-wide;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.text-description {
  @apply tracking-wide;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}

.span-add {
  
}