<ng-container [style.opacity]="showContent">

  <div class="modal">
    <label class="modal-label hidden"></label>
    <input [checked]="showServicesModal" class="modal-cbox hidden" type="checkbox">

    <div class="modal-div">
      <div class="modal-content-2 pb-6">
  
        <div class="top top-modal-3">            
        </div>
  
        <label (click)="showServicesModal = !showServicesModal" class="modal-close modal-close-fix">
          <ion-icon name="close"></ion-icon>
        </label>
        <input class="modal-cbox " type="checkbox">
  
        <div class="middle-modal px-7 pt-6">

          <div >
            <p [style.visibility]="servicesData.length === 0? 'hidden':'visible'" class="text-center -mt-16 text-gray-600 font-bold text-2xl tracking-wide mb-3">Servicios</p>
            
            <div *ngFor="let service of servicesData; let last = last" [style.marginBottom.px]=" last? 30:-8" class="relative bg-gray-200 px-6 mt-5 py-2 rounded-lg flex justify-between items-center">
              <div class="flex">

                <button class="mt-0.5 left-3.5 shadow-md bg-blue-500 hover:opacity-90 price-span tracking-wider font-medium text-white rounded-full h-9 w-9 absolute">
                  {{ service.price }}Q
                </button>

                <div class="ml-9">
                  <h1 class="text-sm text-name font-medium text-gray-700 -mb-1.5 leading-0 mt-0.5">{{ service.name }}</h1>
                  <p class=" text-gray-500 text-description leading-5">{{ service.description | truncateText:40 }}</p>

                  <div class="flex flex-row h-8 right-2 w-20 top-1.5 z-50 absolute rounded-lg  bg-transparent mt-1">
                    <button (click)="setQuantityInputValue(quantityInput, service._id, false)" class="relative bg-gray-200 transform duration-500 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                      <span class="absolute -top-0.5 left-1.5 text-2xl font-thin">−</span>
                    </button>

                    <input disabled [value]="(reservationSelected | serviceQuantity:service) | async" #quantityInput type="number" class="range-input">
                    
                    <button (click)="setQuantityInputValue(quantityInput, service._id, true)" class="relative g-gray-200 text-gray-600 transform duration-500 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r-md cursor-pointer">
                      <span class="input-fix -mt-0.5 left-1.5 span-add absolute text-2xl font-thin">+</span>
                    </button>
                  </div>
                </div>
              </div>
            
            </div>
            
            <div class="-mt-20 mb-10" *ngIf="servicesData.length === 0">
              <img class="mx-auto mt-16 pt-1.5 mb-2" src="../../../assets/images/search.svg" width="80px">
              <h1 class="mb-7 title-no-service font-medium text-center mx-auto tracking-wide text-gray-500">No se encontraron servicios</h1>
            </div>
            
            <div class="flex justify-end">
              <button (click)="showServicesModal = !showServicesModal" class="hover:bg-red-300 text-sm hover:text-red-500 text-red-500 btn-overlay">Cerrar</button>
              
              <button (click)="updateServices()" class="bg-blue-300 hover:bg-blue-500 hover:bg-opacity-75 btn-hover text-sm text-blue-600 btn-overlay hover:text-white">
                <svg [class.hidden]="!showIcon" class="ml-7 animate-spin absolute h-5 w-5 text-white" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              <span [class.invisible]="showIcon" class="tracking-wide">Guardar</span>
              </button>

            </div>

          </div>
  
        </div>
  
      </div>
    </div>
  </div>

  <div class="modal modal-3">
    <label class="modal-label hidden"></label>
    <input [checked]="showConfirmDeleteModal" class="modal-cbox hidden" type="checkbox">

    <div class="modal-div">
      <div class="modal-content pb-6">
  
        <label (click)="showConfirmDeleteModal = !showConfirmDeleteModal" class="modal-close">
          <ion-icon name="close"></ion-icon>
        </label>
        <input class="modal-cbox " type="checkbox">
  
        <div class="middle-modal">

          <div >
            <div class="h-40 bg-blue-500 pt-7 flex justify-center items-center rounded-t-lg">
              <div class="h-24 w-24 bg-white rounded-full flex justify-center items-center">
                <i class="material-icons text-blue-500">done</i>
              </div>
            </div>
                <svg viewBox="0 0 1440 320" class="fill-current text-blue-500">
                  <path fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,154.7C640,160,800,128,960,112C1120,96,1280,96,1360,96L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
                </svg>
                <div class="p-8 -mt-12">
                  <p class="font-semibold text-center text-3xl text-gray-700">¿Estas seguro?</p>
                  <p class="text-gray-600 text-md text-center mt-3">
                    No podrás recuperar tu reservación si la eliminas.
                  </p>
                  <div class="flex justify-center mt-6">
                    <button (click)="deleteReservation()" class="bg-blue-300 hover:bg-blue-500 text-sm mr-1.5 text-blue-600 btn-overlay">Aceptar</button>
                    <button (click)="showConfirmDeleteModal = false" class="bg-red-300 hover:bg-red-500 ml-1.5 text-sm text-red-500 btn-overlay">Cancelar</button>
                  </div>
                </div>
              </div>
        </div>
  
      </div>
    </div>
  </div>

    <section class="text-gray-600 body-font main-container">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4 justify-center">
            <div class="py-4">
              <div class="opacity-container mx-5 xl:h-full h-56 pt-9 pb-24 bg-gray-100 bg-opacity-80 lg:h-56 lg:pt-9 px-8 xl:pt-16 xl:pb-24 rounded-xl overflow-hidden text-center relative">
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">HOTEL CONTROL</h2>
                <h1 class="title-font text-2xl font-medium text-gray-900 mb-3">Reservaciones</h1>
                <p class="leading-relaxed text-sm mb-3 text-gray-600">Colección de reservaciones en las habitaciones para llevar el control y gestión de las mismas.</p>
                <a class="text-indigo-500 hover:text-indigo-600 px-5 bg-transparent text-sm inline-flex items-center cursor-pointer">Leer Más
                  <svg class="w-4 h-4 ml-0.5 cursor-pointer" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
                  <span class="text-gray-700 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>2.9K
                  </span>
                  <span class="text-gray-700 inline-flex items-center leading-none text-sm">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>352
                  </span>
                </div>
              </div>
            </div>
      
          </div>
        </div>
    </section>

    <div class="flex md:gap-6 gap-3 mt-10 px-10 justify-center">
        <a class="dashboard-card transform w-full lg:w-2/3 hover:scale-105 transition duration-300 shadow-xl rounded-xl">
            <div class="p-5">
                <div class="flex justify-between">
                    <svg class="h-7 w-7 chart-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
                    </svg>
                    <div class="bg-yellow-500 rounded-full mr-2 mt-1 h-6 pr-2.5 pl-3 flex justify-items-center text-white font-medium text-sm">
                        <span class="flex items-center">75%</span>
                    </div>
                </div>
                
                <div class="ml-2 w-full flex-1">
                    <div>
                        <div *ngIf="reservations as reservationsLength" class="mt-3 text-3xl text-white font-bold leading-8">{{ reservationsLength.length? reservationsLength.length: 0 }}</div>
      
                        <div *ngIf="reservations.length !== 1" class="mt-1 text-base font-medium text-gray-50">Reservaciones</div>
                        <div *ngIf="reservations.length === 1" class="mt-1 text-base font-medium text-gray-50">Reservaciones</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="flex justify-center md:mx-12">
        <div class="relative w-full max-w-3xl px-5 py-4 mt-10 rounded-xl">
          <span class="absolute inset-y-0 left-5 flex items-center pl-3">
              <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                  <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
          </span>
      
          <input type="text" class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white rounded-xl border border-gray-300 focus:border-transparent ring-indigo-400 ring-opacity-60 focus:outline-none focus:ring" placeholder="Buscar reservaciones">
      </div>
    </div>

    <section *ngIf="reservations?.length > 0" class="text-gray-600">
      <div class="rooms-container px-6 py-24 -mt-9 mx-auto flex flex-wrap justify-center gap-x-10">

        <div *ngFor="let reservation of reservations; trackBy:trackByIndexReservation">
          <div class="max-w-sm flex flex-col mx-auto overflow-hidden bg-white rounded-xl shadow-lg dark:bg-gray-800 mb-10">

            <div class="overlay-container">
              <img [randomImage] class="image rounded-t-2xl object-cover object-center w-full h-56">
              <div class="middle">
                <div (click)="editReservationStatus( reservation.roomId, reservation.reservation._id, true )" *ngIf="!reservation.reservation.cancelled" class="btn-detail">Cancelar</div>
                <div (click)="editReservationStatus( reservation.roomId, reservation.reservation._id, false )" *ngIf="reservation.reservation.cancelled" class="btn-detail">Reservar</div>
                <div (click)="showConfirmDeleteModal = true; setDeleteData( reservation.roomId, reservation.reservation._id )" class="btn-detail btn-fix">Eliminar</div>
              </div>
            </div>

            <div class="flex items-center text-white justify-between px-6 py-3 bg-gray-900">
              
              <h1 class="-ml-1 text-sm font-normal">{{ reservation.pricePerHour }}Q x Hora</h1>
              
              <button (click)="showServicesModal = true; setServicesData( reservation )" class="text-sm font-normal transform duration-200 hover:scale-105 bg-gray-100 text-gray-800 px-4 py-1 rounded-full">Servicios</button>

              <h1 *ngIf="reservation.reservation.cancelled" class="text-sm text-red-500 animate__animated animate__fadeInUp">Cancelada</h1>
              <h1 *ngIf="!reservation.reservation.cancelled" class="text-sm text-green-500 animate__animated animate__fadeInDown">Reservada</h1>

            </div>

            <div class="px-6 py-4 relative">
                <h1 class="text-base font-semibold text-gray-800">{{ reservation.hotel }}</h1>
                <p class="py-1 reservation-desc text-gray-700 dark:text-gray-400">El código de la habitación reservada es {{ reservation.room }}.</p>
                
                <div class="flex items-center mt-1 text-gray-700 dark:text-gray-200">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                    <h1 class="px-2 detail-title">{{ reservation.reservation.entryDateTime | date:'medium' }}</h1>
                </div>

                <div class="flex items-center mt-1.5 text-gray-700 dark:text-gray-200">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    <h1 class="px-2 detail-title">{{ reservation.reservation.exitDateTime | date:'medium' }}</h1>
                </div>

                <div class="flex items-center mt-1.5 text-gray-700 dark:text-gray-200 mb-2">   
                    <ion-icon name="location-outline"></ion-icon>
                    <h1 class="px-2 detail-title">{{ reservation.country }}, {{ reservation.address }}</h1>
                </div>

              </div>
          </div>
        </div>

      </div>
    </section>
    
    <div *ngIf="reservations?.length === 0 || !reservations" class="animate fadeIn mx-auto w-full px-6 md:px-20 2xl:w-1/2 lg:w-3/4 mt-20 mb-52">
      <img src="../../../assets/images/searchRoom.svg" alt="" class="searchRoom">
      <h1 class="flex justify-center mt-6 text-xl text-gray-800">No se encontraron reservaciones</h1>
   </div>


</ng-container>

<ngx-spinner [name]="'reservationSpinner'" size="medium" type="ball-clip-rotate" [disableAnimation]="true" bdColor="rgba(255,255,255,1)" [fullScreen]="false" [color]="'#414040'"></ngx-spinner>