@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    height: calc(100vh - 64px);
}

.ng-sidebar {
    width: 260px;
    @apply shadow-2xl bg-gray-800;
}

.ng-sidebar__content {
    margin-left: 260px;
}

.btn-swal-success {
    box-shadow: 1px 5px 10px -1px #818181;
    @apply bg-blue-500 rounded-2xl py-1 px-8 focus:outline-none text-white hover:bg-blue-600
}

#swal2-title {
    @apply text-xl
}

#swal2-content {
    @apply text-base
}